scrapepatanjali/log.txt
scrapepatanjali/scrapepatanjali/spiders/__pycache__
scrapepatanjali/images
scrapepatanjali/scrapepatanjali/spiders/output/error.log
scrapepatanjali/error.log
.vscode
scrapepatanjali/scrapepatanjali/__pycache__